body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans';
    line-height: 1.65;
}

h1,h2,h3,h4,h5,h6{
    color: #25a2c3;
    font-family: Monserrat;
    font-weight: bold;
    line-height: 1.5;
}

footer{
    color: #c8e7f0;
}

.cell {
	width: 33%;
    height: 100%;
	display: table-cell;
	vertical-align: middle;
}


.card{
    border: 1px gray solid;
    width: 100%;
}

.margin{
    margin: 20px;
}

.card-img-top{
    background-size: cover;
    background-position: center;
    padding-bottom: 62.5%;
}

.card-title-centered{

}

.wrapper{
    height: 100%;
    display: flex;
    text-align: center;
}

.wrapper > .notebook-image{
    height: 100%;
    flex: 1;
    order: 1;
}
.wrapper > .parte-1{
    height: 100%;
    width: 33%;
    order: 2;
}
.wrapper > .parte-2{
    height: 100%;
    width: 33%;
    order: 3;
}

.cell-1 {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

.heading-btn{
    background-color: rgb(209, 64, 37); 
    text-decoration: none; 
    text-transform: uppercase; 
    color: white; 
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    text-align: center; 
    border-radius: 5px; 
    font-size: 12pt;
}




@media screen and (max-width: 600px) {
	.cell {
	    width: 100%;
		display: block;
	}
}


